*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(245, 243, 243);
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.card{
  width: 200px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: bisque;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card button{
  padding: 10px 20px;
  background-color: blue;
  color: black;
  border: none;
  border-radius: 5px;
  margin: 1px;
  color: white;
}

.card p{
  margin: 10px 0;
}

.card h1{
  font-size: 30px;
}

.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}